<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Nest</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/chatnest.css" >
</head>
<body>
    <div id="sidebar">
        <div id="sidebar-header">
            <button id="creategroup">Create Group</button>
        </div>
    </div>

    <div id="chat">
        <div id="header">
            <h4>chat nest</h4>
            <p id="user-name"></p>
        </div>
        <div id="chat-window">
            <div id="chat-header">
                <p id="chat-name"></p>
            </div>
            <form id="send-chat">
                <input name="message" placeholder="Type a message">
                <button type="submit">Send</button>
            </form>
        </div>
    </div>

    <div id="create-group-modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2>Create a Group</h2>
            <form id="create-group-form">
                <label for="group-name">Group Name:</label>
                <input type="text" id="group-name" required>
                
                <label for="group-description">Description:</label>
                <textarea id="group-description" required></textarea>
                
                <button type="submit">Create</button>
            </form>
        </div>
    </div>
    
    <script src="../scripts/chatNest.js"></script>
    
</body>
</html>